<div class = "header">
  <img class="header-img" src="http://localhost:3000/assets/FeastBeast-Logo.png" alt="FeastBeast-Logo" />
</div>

<div class="main-box">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
     <span class="input-group-btn">
      <button class="btn btn-default" ng-click="init()" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.container -->

<footer class="container-fluid text-center bg">
  <a id="githubBtn"
    href="https://github.com/JarodGodlewski"
    target="_blank"
    class="btn btn-secondary">
    <i class="fa fa-github fa-3x fa-5x" aria-hidden="true"></i>
  </a>
</footer>
