<div class="header">
    <img class="header-img" src="assets/FeastBeast-Logo.png" alt="FeastBeast-Logo" />
</div>
<div class="main-box" ng-hide='loading'>
    <!-- /input-group -->
    <ul class='list-group'>
        <li ng-repeat='restaurant in restaurants | filter: searchText | orderBy: "-rating"' class='list-group-item'>
            <div class="row text-center" ng-if='$even'>
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="item col-sm-5 col-md-6">
                        <div class="thumbnail text-center">
                            <img class="group list-group-image" height="200px" width="200px" src={{restaurants[$index].image_url}} alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                {{restaurants[$index].name}}</h4>
                                <h4 class="group inner list-group-item-heading">
                                  Rating: {{restaurants[$index].rating}} </h4>
                                <p class="group inner list-group-item-text">
                                    Phone Number: {{restaurants[$index].phone}}</p>
                                <p class="group inner list-group-item-text">
                                    Price: {{restaurants[$index].price}}</p>
                                </p>
                                <div class="row">
                                    <div class='text-center'>
                                        <a class="btn btn-primary btn-block" href={{restaurants[$index].url}}>Take me there.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item  col-sm-5 col-md-6">
                        <div class="thumbnail text-center">
                            <img class="group list-group-image" height="200px" width="200px" src={{restaurants[$index+1].image_url}} alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                {{restaurants[$index+1].name}} </h4>
                                <h4 class="group inner list-group-item-heading">
                                Rating: {{restaurants[$index+1].rating}}</h4>
                                <p class="group inner list-group-item-text">
                                    Phone Number: {{restaurants[$index+1].phone}}</p>
                                <p class="group inner list-group-item-text">
                                    Price: {{restaurants[$index+1].price}}</p>
                                </p>
                                <div class="row">
                                    <div class='text-center'>
                                        <a class="btn btn-primary btn-block" href={{restaurants[$index+1].url}}>Take me there.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>

</div>
</li>
</ul>
</div>
<div ng-show='loading' class='text-center' min-height='300px' style="background-color: #403F3F">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw" style='color: #FFFFFF;'></i>
    <span class="sr-only">Loading...</span>
</div>
<footer class="container-fluid text-center bg">
    <a id="githubBtn" href="https://github.com/JarodGodlewski" target="_blank" class="btn btn-secondary">
        <i class="fa fa-github fa-3x fa-5x" aria-hidden="true"></i>
    </a>
</footer>
